.faq-section {
  background: #f1f5f9;
  color: #263238;
  padding: 4rem 2rem;
  text-align: center;
}

.faq-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.faq-list {
  max-width: 700px;
  margin: auto;
  text-align: left;
}

.faq-item {
  background: #ffffff;
  color: #78909C;
  box-shadow: 0px 1px 8px 0px rgba(16, 24, 40, 0.08);
  /* border: 1px solid #333; */
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: all 0.3s;
}

.faq-question {
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  margin-top: 0.75rem;
  font-size: 0.95rem;
  color: #78909C;
}
