* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.09rem;
  background-color: ECEFF1;
  color: #fff;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
